<img class="image-first" src="/assets/sleep.jpg" alt="桜島の写真">
<div id="second-block">
    <p class="story-title">よりよい睡眠からよりよい一日へ</p>
    <div class="my-story-container">
    <div class="my-story">
        <p class="my-story-title">
            「きちんと眠れているか」を意識したことはありますか？<br>
            <br>
            就職活動やアルバイト、友人との時間などが重なり、<br>
            知らず知らずのうちに睡眠がおろそかになっている方も多いのではないでしょうか。<br>
            <br>
            このサイトでは、睡眠時間の管理に加え、毎日のタスク管理を通じて、無理のない生活リズム作りをサポートします。
        </p>
    </div>
    </div>
    <div class="link-top"><%= link_to "投稿一覧", tweets_path %></div>
</div>






